@mixin dark {
    --background-tertiary: #1f1f28;
    --background-primary: #1f1f28;
    --background-secondary: #1f1f28;
    --background-secondary-alt: #1f1f28;
    --brand-500: #e46876;
    --channeltextarea-background: #2a2a37;
    --status-danger: #e82424;
    --background-mentioned: #49443c;
    --bg-overlay-2: #2a2a37;
    --background-modifier-selected: #2a2a37;
    --home-background: #2a2a37;

    .jumpToPresentBar_cf58b5 {
        background-color: #363646;
    }

    .wrapper_faf5ab {
        background-color: #2a2a37;
    }

    .childWrapperNoHoverBg__7e8f1 {
        background-color: #2a2a37;
    }

    .newMessagesBar_cf58b5 {
        background-color: #7e9cd8;
    }

    .searchBar_f0963d {
        background-color: #2a2a37;
    }

    .vc-addon-card {
        background-color: #2a2a37;
    }

    .lookFilled_dd4f85:not(.colorRed_dd4f85) {
        background-color: #2d4f67 !important;
    }

    .checked_cebd1c {
        background-color: #2d4f67 !important;
    }

    .container_fd6364 {
        background-color: #2a2a37;
    }

    .spoilerContent_a3d0f7 {
        background-color: #727169;
    }

    .vc-ranb-button {
        background-color: transparent !important;
    }

    code[class="inline"] {
        background-color: #252535;
    }

    /* Search bars */
    /* GIF */
    .searchBar_b56bbc,
    /* Sticker picker */
    #sticker-picker-tab-panel > div.header_d8cdac > div > div > div,
    /* Emoji picker */
    .searchBar_c6ee36,
    /* Threads */
    .searchBox_e664f3 {
        background-color: #2a2a37;
    }

    .overlayBackground_c69a7b {
        background-color: #2a2a37;
    }

    .lookFilled_dd4f85.colorRed_dd4f85 {
        background-color: #e82424;
    }
}
