@mixin light {
    --background-tertiary: #dcd7ba;
    --background-primary: #dcd7ba;
    --background-secondary: #dcd7ba;
    --background-secondary-alt: #dcd7ba;
    --channeltextarea-background: #c8c093;
    --background-modifier-selected: #c8c093;
    --bg-overlay-2: #c8c093;
    --home-background: #c8c093;
    --status-danger: #e82424;
    --background-mentioned: #e6c384;
    --brand-500: #e46876;
    --primary-100: #dcd7ba;

    .jumpToPresentBar_cf58b5 {
        background-color: #727169;
    }

    .wrapper_faf5ab {
        background-color: #c8c093;
    }

    .childWrapperNoHoverBg__7e8f1 {
        background-color: #c8c093;
    }

    .newMessagesBar_cf58b5 {
        background-color: #7e9cd8;
    }

    .searchBar_a46bef {
        background: #c8c093;
    }

    .vc-addon-card {
        background-color: #c8c093;
    }

    .lookFilled_dd4f85 {
        background-color: #dca561;
    }

    .checked_cebd1c {
        background-color: #dca561;
    }

    .vc-ranb-button {
        background-color: transparent !important;
    }

    .container_fd6364 {
        background-color: #c8c093;
    }

    .spoilerContent_a3d0f7 {
        background-color: #c0a36e;
    }

    code[class="inline"] {
        background-color: #c0a36e;
    }
}

