@mixin light {
    --background-tertiary: #dcd7ba;
    --background-primary: #dcd7ba;
    --background-secondary: #dcd7ba;
    --background-secondary-alt: #dcd7ba;
    --channeltextarea-background: #c8c093;
    --background-modifier-selected: #c8c093;
    --bg-overlay-2: #c8c093;
    --home-background: #c8c093;
    --status-danger: #e82424;
    --background-mentioned: #e6c384;
    --brand-500: #e46876;
    --primary-100: #dcd7ba;

    .jumpToPresentBar__69174 {
        background-color: #727169;
    }

    .wrapper__57349 {
        background-color: #c8c093;
    }

    .childWrapperNoHoverBg__7e8f1 {
        background-color: #c8c093;
    }

    .newMessagesBar__8b272 {
        background-color: #7e9cd8;
    }

    .searchBar__5a20a {
        background: #c8c093;
    }

    .vc-addon-card {
        background-color: #c8c093;
    }

    .lookFilled__950dd {
        background-color: #dca561;
    }

    .checked__36fdc {
        background-color: #dca561;
    }

    .vc-ranb-button {
        background-color: transparent !important;
    }

    .container_f41675 {
        background-color: #c8c093;
    }

    .spoilerContent__383f3 {
        background-color: #c0a36e;
    }

    code[class="inline"] {
        background-color: #c0a36e;
    }
}
