@mixin light {
    --background-tertiary: #DCD7BA;
    --background-primary: #DCD7BA;
    --background-secondary: #DCD7BA;
    --background-secondary-alt: #DCD7BA;
    --channeltextarea-background: #C8C093;
    --background-modifier-selected: #C8C093;
    --bg-overlay-2: #C8C093;
    --home-background: #C8C093;
    --status-danger: #e82424;
    --background-mentioned: #E6C384;
    --brand-500: #E46876;
    --primary-100: #DCD7BA;
    
    .jumpToPresentBar__69174 {
        background-color: #727169;
    }

    .wrapper__57349 {
        background-color: #C8C093;
    }

    .childWrapperNoHoverBg__7e8f1 {
        background-color: #C8C093;
    }

    .newMessagesBar__8b272 {
        background-color: #7E9CD8;
    }

    .searchBar__5a20a {
        background: #C8C093;
    }

    .vc-addon-card {
        background-color: #C8C093;
    }
    
    .lookFilled__950dd {
        background-color: #DCA561;
    }

    .checked__36fdc {
        background-color: #DCA561;
    }
    
    .vc-ranb-button {
        background-color: transparent !important;
    }
    
    .container_f41675 {
        background-color: #C8C093;
    }

    .spoilerContent__383f3 {
        background-color: #C0A36E;
    }

    code[class="inline"] {
        background-color: #C0A36E;
    }
}
